@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Nothing+You+Could+Do&family=Rock+Salt&family=Ruthie&display=swap');



body{
    padding: 20px;
    background-color: #ffffff;  
  }
  
h1 {
    font-family: 'Ruthie', cursive;
    font-size: 170px;
    position: absolute;
    top: 130px;
    left: 120px;
    padding-top: 0%;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    top: 400px;
    left: 100px;
}

  p {
    white-space: nowrap;
    position: absolute;
    top: 100px;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 78px;
    padding-left: 70px;
    color: #000000;
  }

  
  /* Animation */
  p {
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }

  img {
      width: 700px;
      height: 700px;
      position: absolute;
      top: 10px; 
      left: 590px;
  }